# https://www.jetbrains.com/help/teamcity/setting-up-and-running-additional-build-agents.html#SettingupandRunningAdditionalBuildAgents-AutomaticAgentStartunderLinux

[Unit]
Description="TeamCity Agent {{ agent_index }}"
After=network.target

[Service]
Type=simple

# Support agent upgrade as the main process starts a child and exits then
RemainAfterExit=yes
# Support agent upgrade as the main process gets SIGTERM during upgrade and that maps to exit code 143
SuccessExitStatus=0 143

User={{ teamcity_agent_account }}
SyslogIdentifier=teamcity_agent{{ agent_index }}
ExecStart={{ teamcity_agent_install_dir }}/agent{{ agent_index }}/bin/agent.sh run
ExecStop={{ teamcity_agent_install_dir }}/agent{{ agent_index }}/bin/agent.sh stop

RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
