---
name: Lint

on: [pull_request]

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
          architecture: x64

      - name: Checkout
        uses: actions/checkout@main

      - name: Install linters
        run: pip install ansible ansible-lint yamllint

      - name: Run ansible-lint
        run: "ansible-lint ."

      - name: Run yamllint
        run: "yamllint ."
